<a href="https://colab.research.google.com/github/klaxman23/GMAIL/blob/main/my_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' write a program to print sum of n numbers'''
num = int(input("Enter a value:"))

sum=0

for i in range(1,num+1):
  sum=sum+i
print(sum)

Enter a value:10
55

In [ ]:
''' write a program to print odd and even numbers'''
num=[]
for i in range(1,101):
  if i%2==0:
    num.append(i)
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
''' write a program to print odd and even numbers'''
num=[]
for i in range(1,101):
  if i%2==1:
    num.append(i)
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
''' write a program to print odd and even numbers'''
num = [ i for i in range(1,101) if i%2==1]
print(num)
num = [ i for i in range(1,101) if i%2==0]
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
''' write a program to print '''

num = int(input("Enter a value:"))

mul = 1

for i in range(1,num+1):
  mul = mul*i
print("The total value:",mul)

Enter a value:5
The total value: 120

In [ ]:
'''write a program to print combined all the letters'''
a='Mohan'
b='loves'
c='python'

print(a+" "+b+" "+c)

Mohan loves python

In [ ]:
'''write a program take a input for the user and print the name & find the length of the character.'''

name=input("Enter a user name:")
print("The enter name is:" +name)
print(len(name))

Enter a user name:suma
The enter name is:suma
4

In [ ]:
"Write a program to print student details."

First_name = input("Enter a first_nam:")
Second_name = input("Enter a second_name:")
Roll_number = input("Enter a roll number:")

print ("Student_name:", First_name +" "+ Second_name)
print ("Student Roll number:", Roll_number)

Enter a first_nam:RAM
Enter a second_name:KUMAR
Enter a roll number:08A11A0544
Student_name: RAM KUMAR
Student Roll number: 08A11A0544

In [ ]:
"Create a list enter 1 t- 10 number and show the odd and even numbers."

new_list = [1,2,3,4,5,6,7,8,9,10]
odd_list=[]
even_list=[]
for i in new_list:
  if i%2==1:
    odd_list.append(i)
  else:
    even_list.append(i)
print("Odd numbers",odd_list)
print("Even numbers",even_list)

Odd numbers [1, 3, 5, 7, 9]
Even numbers [2, 4, 6, 8, 10]

In [ ]:
"Write a program to remove the dublicate values on the list."
arr = [2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]

num=[]

for i in arr:
  if (i not in num):
    num.append(i)
print(num)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
"Write a program to print the table."

num = int(input("Enter a value:"))

for i in range(1,21):
  print(num, '*', i, "=", num*i)

Enter a value:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [ ]:
"Write a program  string is palindrome or not."

name = input("Enter a value:")

rev_name = name[::-1]

print(rev_name)

if rev_name==name:
  print("it is a palindrome.")
else:
  print("it is not a plaindrome")

Enter a value:010
010
it is a palindrome.

In [ ]:
"Write a program to swap to number"
a,b=10,20

a = a+b
b = a-b
a = a-b

print(a)
print(b)

20
10

In [ ]:
"Write a program multiple list of string print in the single list."

ip = [1,2,3,[4,5,[6,7,[8,[9,10,[11,[12,[13,]]]]]]]]

result = []

def rnf(item):
  for i in item:
    if type(i) is list:
      rnf(i)
    else:
      result.append(i)
rnf(ip)

print('ip=', result)

ip= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
"Write a program to covert float value to integer value."

n = 1234.6
nn=int(n)
print(nn)

1234

In [ ]:
"Write a program to use function."

def function():
  print("Hello")
  print("kavya")
  print("Bye")


function()

Hello
kavya
Bye

In [ ]:
"Write  a program to pick the details in the list."

num = [12,10,9,44,88]
print(min(num),max(num))

num.sort()
print(num[0])
print(num[-1])

9 88
9
88

In [ ]:
"Write a program to print add 3 numbers"

a=25
b=35

print(a+b)

60

In [ ]:
value = 42
new_value = int(input())
value = new_value

print("updated value :" , value)

45
updated value : 45

In [ ]:
"Write a program to use while loop"

num=10
while num>=0:
  num = num-1
  print(num)

9
8
7
6
5
4
3
2
1
0
-1

In [ ]:
"Write a program to print list."

fruits = ['Apple','Orange','Grapes','Guava','Mango']
price = [120,155,250,210,220]

'''print(fruits,price)'''

new_price = {'fruits','price'}

print(new_price)

{'price', 'fruits'}

In [ ]:
"Write a program to convert lower case to upper case."

my_string = 'i am a student'

new = my_string.upper()
print(new)

I AM A STUDENT

In [ ]:
"Write a program to reverse the list"

my_list = [1,2,3,4,5,6]
mm = my_list.reverse()
print(my_list)

[6, 5, 4, 3, 2, 1]

In [ ]:
"Write a program to remove the some elements in list"

my_kk = [1,2,3,4,5,6,7,8]

my_kk.remove(7)

print(my_kk)

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
"Write a program to print calender"

import calendar

x = calendar.TextCalendar()
print(x.pryear(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31
None

In [ ]:
"Write a program to covert kilometer to miles"

kilometer = float(input("Enter a value:"))

miles = kilometer * 0.621371

print("Total miles:",miles)

Enter a value:5
Total miles: 3.106855

In [ ]:
"write a program to count upper."

string = input("Enter a value:")

count1 = 0
count2 = 0
for i in string:
  if (i.islower()):
    count1 +=1
  elif (i.isupper()):
    count2 +=1
print("The total lower case letter:",+count1)
print("The total lower case letter:",+count2)

Enter a value:uuuUUU
The total lower case letter: 3
The total lower case letter: 3

In [ ]:

"Write a program to convert celcius to fahrenheit"

celcius = float(input("Enter a value:"))
fahrenheit = (celcius*(9/5)+32)
print(fahrenheit)

Enter a value:32
89.6

In [ ]:
"Write a program to use while loop to print 1 to 10"

n = 0
num1=[]
while n<=9:
  n = n+1
  num1.append(n)

print(num1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
"Write a program to compare the value a,b,c and confirm which value is greater one"

a = int(input("Enter a a value:"))
b = int(input("Enter a b value:"))
c = int(input("Enter a c value:"))

if a>b and a>c:
  print("a is greater one")
elif b>c and b>a:
  print("b is greater one")
elif c>a and c>b:
  print("c is greater one")
else:
  print("All are equal")

Enter a a value:5
Enter a b value:5
Enter a c value:5
All are equal

In [ ]:
n , n1 = False , True
v = int(n)
v1 = int(n1)
print(v,v1)

n = bool(v)
n1 = bool(v1)

print(n,n1)

0 1
False True

In [ ]:
name = "Ram Kumar"

marks = 98.587

print("The cantidate name {} and marks are {}".format(name,marks))

The cantidate name Ram Kumar and marks are 98.587

In [1]:
'''Write a program and take the order 3
pizzas and print the total cost of the pizza.'''

print('''Press:

1. Onions

2.Lettuce

3.Tomatoes

4.Olives

5.Peppers

6.Carrot''')



for i in range(1,4):

    print("Enter Topping %d"%(i))

    input()



n_san = int(input("Enter number of Sandwiches = "))

t_amount = n_san * 5;

print("Total amount = $%d"%t_amount)

Press:

1. Onions

2.Lettuce

3.Tomatoes

4.Olives

5.Peppers

6.Carrot
Enter Topping 1
5
Enter Topping 2
6
Enter Topping 3
1
Enter number of Sandwiches = 3
Total amount = $15

In [2]:
"Write a program to print the average of 3 numbers"
a,b,c = [int(x) for x in input("Enter a 3 values:").split()]

avg  = (a+b+c) / 3

print("The average value:",avg)

Enter a 3 values:5 10 15
The average value: 10.0
Enter a 3 values:6 12 18
The average value: 12.0