<a href="https://colab.research.google.com/github/klaxman23/GMAIL/blob/main/my_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' write a program to print sum of n numbers'''
num = int(input("Enter a value:"))

sum=0

for i in range(1,num+1):
  sum=sum+i
print(sum)

Enter a value:10
55

In [ ]:
''' write a program to print odd and even numbers'''
num=[]
for i in range(1,101):
  if i%2==0:
    num.append(i)
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
''' write a program to print odd and even numbers'''
num=[]
for i in range(1,101):
  if i%2==1:
    num.append(i)
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
''' write a program to print odd and even numbers'''
num = [ i for i in range(1,101) if i%2==1]
print(num)
num = [ i for i in range(1,101) if i%2==0]
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
''' write a program to print '''

num = int(input("Enter a value:"))

mul = 1

for i in range(1,num+1):
  mul = mul*i
print("The total value:",mul)

Enter a value:5
The total value: 120

In [ ]:
'''write a program to print combined all the letters'''
a='Mohan'
b='loves'
c='python'

print(a+" "+b+" "+c)

Mohan loves python

In [ ]:
'''write a program take a input for the user and print the name & find the length of the character.'''

name=input("Enter a user name:")
print("The enter name is:" +name)
print(len(name))

Enter a user name:suma
The enter name is:suma
4

In [ ]:
"Write a program to print student details."

First_name = input("Enter a first_nam:")
Second_name = input("Enter a second_name:")
Roll_number = input("Enter a roll number:")

print ("Student_name:", First_name +" "+ Second_name)
print ("Student Roll number:", Roll_number)

Enter a first_nam:RAM
Enter a second_name:KUMAR
Enter a roll number:08A11A0544
Student_name: RAM KUMAR
Student Roll number: 08A11A0544

In [ ]:
"Create a list enter 1 t- 10 number and show the odd and even numbers."

new_list = [1,2,3,4,5,6,7,8,9,10]
odd_list=[]
even_list=[]
for i in new_list:
  if i%2==1:
    odd_list.append(i)
  else:
    even_list.append(i)
print("Odd numbers",odd_list)
print("Even numbers",even_list)

Odd numbers [1, 3, 5, 7, 9]
Even numbers [2, 4, 6, 8, 10]

In [ ]:
"Write a program to remove the dublicate values on the list."
arr = [2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]

num=[]

for i in arr:
  if (i not in num):
    num.append(i)
print(num)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
"Write a program to print the table."

num = int(input("Enter a value:"))

for i in range(1,21):
  print(num, '*', i, "=", num*i)

Enter a value:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [ ]:
"Write a program  string is palindrome or not."

name = input("Enter a value:")

rev_name = name[::-1]

print(rev_name)

if rev_name==name:
  print("it is a palindrome.")
else:
  print("it is not a plaindrome")

Enter a value:010
010
it is a palindrome.

In [ ]:
"Write a program to swap to number"
a,b=10,20

a = a+b
b = a-b
a = a-b

print(a)
print(b)

20
10

In [ ]:
"Write a program multiple list of string print in the single list."

ip = [1,2,3,[4,5,[6,7,[8,[9,10,[11,[12,[13,]]]]]]]]

result = []

def rnf(item):
  for i in item:
    if type(i) is list:
      rnf(i)
    else:
      result.append(i)
rnf(ip)

print('ip=', result)

ip= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
"Write a program to covert float value to integer value."

n = 1234.6
nn=int(n)
print(nn)

1234

In [ ]:
"Write a program to use function."

def function():
  print("Hello")
  print("kavya")
  print("Bye")


function()

Hello
kavya
Bye

In [ ]:
"Write  a program to pick the details in the list."

num = [12,10,9,44,88]
print(min(num),max(num))

num.sort()
print(num[0])
print(num[-1])

9 88
9
88

In [ ]:
"Write a program to print add 3 numbers"

a=25
b=35

print(a+b)

60

In [ ]:
value = 42
new_value = int(input())
value = new_value

print("updated value :" , value)

45
updated value : 45

In [ ]:
"Write a program to use while loop"

num=10
while num>=0:
  num = num-1
  print(num)

9
8
7
6
5
4
3
2
1
0
-1

In [ ]:
"Write a program to print list."

fruits = ['Apple','Orange','Grapes','Guava','Mango']
price = [120,155,250,210,220]

'''print(fruits,price)'''

new_price = {'fruits','price'}

print(new_price)

{'price', 'fruits'}

In [ ]:
"Write a program to convert lower case to upper case."

my_string = 'i am a student'

new = my_string.upper()
print(new)

I AM A STUDENT

In [ ]:
"Write a program to reverse the list"

my_list = [1,2,3,4,5,6]
mm = my_list.reverse()
print(my_list)

[6, 5, 4, 3, 2, 1]

In [ ]:
"Write a program to remove the some elements in list"

my_kk = [1,2,3,4,5,6,7,8]

my_kk.remove(7)

print(my_kk)

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
"Write a program to print calender"

import calendar

x = calendar.TextCalendar()
print(x.pryear(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31
None

In [ ]:
"Write a program to covert kilometer to miles"

kilometer = float(input("Enter a value:"))

miles = kilometer * 0.621371

print("Total miles:",miles)

Enter a value:5
Total miles: 3.106855

In [ ]:
"write a program to count upper."

string = input("Enter a value:")

count1 = 0
count2 = 0
for i in string:
  if (i.islower()):
    count1 +=1
  elif (i.isupper()):
    count2 +=1
print("The total lower case letter:",+count1)
print("The total lower case letter:",+count2)

Enter a value:uuuUUU
The total lower case letter: 3
The total lower case letter: 3

In [ ]:

"Write a program to convert celcius to fahrenheit"

celcius = float(input("Enter a value:"))
fahrenheit = (celcius*(9/5)+32)
print(fahrenheit)

Enter a value:32
89.6

In [ ]:
"Write a program to use while loop to print 1 to 10"

n = 0
num1=[]
while n<=9:
  n = n+1
  num1.append(n)

print(num1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
"Write a program to compare the value a,b,c and confirm which value is greater one"

a = int(input("Enter a a value:"))
b = int(input("Enter a b value:"))
c = int(input("Enter a c value:"))

if a>b and a>c:
  print("a is greater one")
elif b>c and b>a:
  print("b is greater one")
elif c>a and c>b:
  print("c is greater one")
else:
  print("All are equal")

Enter a a value:5
Enter a b value:5
Enter a c value:5
All are equal

In [ ]:
n , n1 = False , True
v = int(n)
v1 = int(n1)
print(v,v1)

n = bool(v)
n1 = bool(v1)

print(n,n1)

0 1
False True

In [ ]:
name = "Ram Kumar"

marks = 98.587

print("The cantidate name {} and marks are {}".format(name,marks))

The cantidate name Ram Kumar and marks are 98.587

In [ ]:
'''Write a program and take the order 3
pizzas and print the total cost of the pizza.'''

print('''Press:

1. Onions

2.Lettuce

3.Tomatoes

4.Olives

5.Peppers

6.Carrot''')



for i in range(1,4):

    print("Enter Topping %d"%(i))

    input()



n_san = int(input("Enter number of Sandwiches = "))

t_amount = n_san * 5;

print("Total amount = $%d"%t_amount)

Press:

1. Onions

2.Lettuce

3.Tomatoes

4.Olives

5.Peppers

6.Carrot
Enter Topping 1
5
Enter Topping 2
6
Enter Topping 3
1
Enter number of Sandwiches = 3
Total amount = $15

In [ ]:
"Write a program to print the average of 3 numbers"
a,b,c = [int(x) for x in input("Enter a 3 values:").split()]

avg  = (a+b+c) / 3

print("The average value:",avg)

Enter a 3 values:5 10 15
The average value: 10.0
Enter a 3 values:6 12 18
The average value: 12.0

In [ ]:
"Write a program to find the area of the circle."

r = float(input("Enter a value:"))

pi = 22/7

area = pi*r**2

print(area)

Enter a value:5
78.57142857142857

In [ ]:
"Write a prgram with use math module."

import math

r = float(input("Enter a value:"))

area = math.pi*r**2

print(area)

Enter a value:5
78.53981633974483

In [ ]:
a=int(input("Enter the marks for maths:"))

b=int(input("Enter the marks for physics:"))

c=int(input("Enter the marks for chemistry:"))

def avg(a,b,c):

    return (a+b+c)/3



if(a<35 or b< 35 or c <35):

    print("You have failed")

elif(avg(a,b,c) <= 59):

    print("Your grade is C" )

elif(avg(a,b,c) <=69 ):

    print("Your grade is B")

else:

    print("Your Grade is A")

Enter the marks for maths:99
Enter the marks for physics:99
Enter the marks for chemistry:99
Your Grade is A

In [ ]:
"""Write a program and print the stars"""

num = int(input("Enter a value:"))

for i in range(1,num+1):
    for j in range(1,num+1):
        print("* ", end="")
    print()

Enter a value:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
"Write a program to print the reverse the string."
name = input("Enter a name:")

rev = ""
for i in name:
  rev = i+rev

print(rev)

Enter a name:lllllkkkkuuuu
uuuukkkklllll

In [ ]:
for i in range(1,6):
  if i==3:
    break
  print(i)

1
2

In [ ]:
for i in range(1,6):
  if i%2==0:
    continue
  print(i)

1
3
5

In [ ]:
for i in range(1,6):
  pass
  print(i)

1
2
3
4
5

In [ ]:
#Write a program and print the diamond.
n = 5

for i in range(1,n+1):
  for j in range(i):
    print("* " ,end="")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 6

for i in range(1,n+1):
  for j in range(i-1):
    print("x " ,end =" ")
  print()

x
x  x
x  x  x
x  x  x  x
x  x  x  x  x

In [ ]:
m = int(input("Enter a value::"))
n = int(input("Enter a value::"))

c=m
s = 0

while c<m+n:
    s = s+c
    c = c+1
print(s)

Enter a value::3
Enter a value::2
7

In [ ]:
num = int(input("Enter a value:"))

for i in range(1,num+1):
  for j in range(2,i):
    if i%2==0:
      break
  else:
    print(i)

Enter a value:21
1
2
3
5
7
9
11
13
15
17
19
21

In [ ]:
nn = [1,1,2,2,3,3,4,4,5,5]

num1 = []

for i in nn:
  if i not in num1:
    num1.append(i)

print(num1)

[1, 2, 3, 4, 5]

In [ ]:
"Write a prgram and print the 0."

num = int(input("Enter a value:"))

for i in range(num):
  print(0)

Enter a value:3
0
0
0

In [ ]:
n = int(input("Enter a value:\t"))

c = 0

while c<n:
  print(0)
  c +=1

Enter a value:	3
0
0
0

In [ ]:
"Write a program and print the average."

n = int(input("Enter a value:"))

s = 0
c = 1
while c<=n:
  s = s+c
  c = c+1
print("The total average value:",s/n)

Enter a value:2
The total average value: 1.5

In [ ]:
"Write a program and print the all cube values"
n = int(input("Enter a value:"))
c=1

while c<=n:
  print(c**3)
  c = c + 1

Enter a value:4
1
8
27
64

In [ ]:
"Write a program to print solid rectangle"

n = int(input("Enter a value:"))
m = int(input("Enter a value:"))
c = 0

while c<m:
  print("* "*n)
  c = c+1

Enter a value:4
Enter a value:5
* * * *
* * * *
* * * *
* * * *
* * * *

In [ ]:
"Write a program and print the 2 after till 12"

n = int(input("Enter a value:"))
c = n+1
while c<=n+10:
  print(c)
  c = c+1

Enter a value:5
6
7
8
9
10
11
12
13
14
15

Enter a value:5
3
4
4
5

In [ ]:
n = int(input("Enter a value:"))
c=1
s=0
while c<=n:
    s=s+c
    c=c+1
print("The sum is :",s)

Enter a value:10
The sum is : 55

In [ ]:
n = int(input("Enter a value:"))

c =0
nn=[]
while c<n:
    a=int(input("Enter a value:"))
    c=c+1
    nn.append(a)
print(nn)

Enter a value:3
Enter a value:1
Enter a value:1
Enter a value:1
[1, 1, 1]

In [ ]:
n = int(input("Enter a value:"))

mul =1

for i in range(1,n+1):
    mul = mul*i
print("The product value:",mul)

Enter a value:5
The product value: 120

In [ ]:
"Write a  program and sum of the input numbers"

n = int(input("Enter a value:"))
c=0
p=0
while c<n:
  a=int(input("Enter a value:"))
  c=c+1
  p=p+a
print("the sum value:",p)

Enter a value:2
Enter a value:7
Enter a value:5
the sum value: 12

In [ ]:
"Write a program to print all capital letter A-Z"

cap = []

for i in range(65,91):
  cap.append(chr(i))
print(cap)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
small = []

for i in range(97,123):
  small.append(chr(i))
print(small)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
def greet():
    return "Hello" + " " + "Happy birthday"

msg = greet() + " " + 'Master'

print(msg)

Hello Happy birthday Master

In [ ]:
"Write a program to print the "

for i in range(1,101):
  if i%3==0 and i%5==0:
    print("Fizz and Bizz")
  elif i%3==0:
    print("Bizz")
  elif i%5==0:
    print("Fizz")
  else:
    print(i)

1
2
Bizz
4
Fizz
Bizz
7
8
Bizz
Fizz
11
Bizz
13
14
Fizz and Bizz
16
17
Bizz
19
Fizz
Bizz
22
23
Bizz
Fizz
26
Bizz
28
29
Fizz and Bizz
31
32
Bizz
34
Fizz
Bizz
37
38
Bizz
Fizz
41
Bizz
43
44
Fizz and Bizz
46
47
Bizz
49
Fizz
Bizz
52
53
Bizz
Fizz
56
Bizz
58
59
Fizz and Bizz
61
62
Bizz
64
Fizz
Bizz
67
68
Bizz
Fizz
71
Bizz
73
74
Fizz and Bizz
76
77
Bizz
79
Fizz
Bizz
82
83
Bizz
Fizz
86
Bizz
88
89
Fizz and Bizz
91
92
Bizz
94
Fizz
Bizz
97
98
Bizz
Fizz

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [ ]:
n = int(input("Enter a value:"))
result=[]
for i in range(1,n+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,end = " ")

Enter a value:20
1 2 3 5 7 11 13 17 19

In [ ]:
"""Create a nested loop to print the reverse of the multiplication table from 1 to 5 (up to 10 times each).
Expected Input: None
Expected Output:"""

for i in range(1,6):
    for j in range(1,6)[::-1]:
        print(i*j, end=" ")
    print("\n")

5 4 3 2 1

10 8 6 4 2

15 12 9 6 3

20 16 12 8 4

25 20 15 10 5

In [ ]:
### Questions to Practice (Day 1):

#1. Print your name.

name = input("Enter a your name: ")
print("Your name is:",name)

Enter a your name: Laxman
Your name is: Laxman

In [ ]:
#2. Print the result of adding two numbers.

num = int(input("Enter a value:"))
num1 = int(input("Enter a value:"))

result = 0

result = num+num1
print("The total sum:", result)

Enter a value:26
Enter a value:24
The total sum: 50

In [ ]:
#3. Print the result of subtracting two numbers.

num = int(input("Enter a value:"))
num1 = int(input("Enter a value:"))

result = 0

result = num-num1
print("The total ", result)

Enter a value:26
Enter a value:24
The total sum: 2

In [ ]:
#4. Print the result of multiplying two numbers.

num = int(input("Enter a value:"))
num1 = int(input("Enter a value:"))

result = 0

result = num*num1
print("The total:", result)

Enter a value:22
Enter a value:2
The total: 44

In [ ]:
#5. Print the result of dividing two numbers.

num = int(input("Enter a value:"))
num1 = int(input("Enter a value:"))

result = 0

result = num / num1
print("The total:", result)

Enter a value:5
Enter a value:5
The total: 1.0

In [ ]:
#write a program to print the all even number and odd number with use the list.


arr = [i for i in range(1,101) if i %2==0]
print(arr)

arr1 = [i for i in range(1,101,2)]
print(arr1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
#write a program to print the prime numbers

num = int(input("Enter a value:"))

result = []

for i in range(1,num+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    result.append(i)
print(result)

Enter a value:21
[1, 2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
"Write a program to reverse the letters"

name= "Sky is blue"

result = name.split()
new_result = result[::-1]

mm = " ".join(new_result)
print(mm)

blue is Sky

In [ ]:
"Write a program to find the leap year."

year = int(input("Enter a year:"))

if year%4==0:
  print("It is leap year")
elif year%100==0:
  print("It is leap year")
elif year%400==0:
  print("It is leap year")
else:
  print("It is not a leap year!")

Enter a year:1999
It is not a leap year!

In [ ]:
'''4. Define a variable `is_raining` and ask the user to input either "True" or "False" (as a string). Convert the input to a boolean and print its type.
    - **Expected Input:** "True" or "False"
    - **Expected Output:** The data type of the converted boolean.
'''
Today_weather = input("Enter a weather Y|N  ")

if Today_weather == 'Y':
  print(bool("True"),"It is to hot")
else:
  print(bool("False"),"It is a rain")

Enter a weather Y|N  N
True It is a rain

In [ ]:
String = "Good Morning Friends"
s = ("* " *  3) + String + (" *" * 3)
print(s)

* * * Good Morning Friends * * *

In [ ]:
"""3. Create a string `word` and repeat it 5 times. Print the result.
    - **Expected Input:** word = "Python"
    - **Expected Output:** "PythonPythonPythonPythonPython"""

print("Python-" * 5)

Python-Python-Python-Python-Python-

4. Ask the user to enter a word and a number. Repeat the word as many times as the given number and print the result.
    - **Expected Input:** word = "Hello", number = 3
    - **Expected Output:** "HelloHelloHello"

In [ ]:
word = input("Enter a name")

print(word * 3)

Enter a nameHello
HelloHelloHello

5. Create a string `sentence` and find its length. Print the length of the sentence.
    - **Expected Input:** sentence = "This is a sample sentence."
    - **Expected Output:** 27

In [ ]:
sentence = "This is a sample  sentence."

print(len(sentence))

27

Create a string pattern containing "*" character and repeat it to form a pattern. The pattern should have 5 rows. Print the resulting pattern.

In [ ]:
print("*")
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)

*
**
***
****
*****

In [ ]:
string = "Hello, World"

new_string = string[0]
new_string1 = string[1]
new_string2 = string[2]
print(new_string,new_string1,new_string2)

H e l

In [ ]:
n = int(input("Enter a value:"))

sum = 0
mul=1

for i in range(1,n+1):
    sum+=i
    mul*=i
print("The Result:",sum)
print("The Result:",mul)

Enter a value:10
The Result: 55
The Result: 3628800

In [2]:
arr = [i**2 for i in range(1,101)]

print(arr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]